header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }

  h1 {
    font-size: 60px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    color:#E2062C;
  }

  body {
    background-color: #171717;
    color: white;
  }

  h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
  }
  
  header div {
    margin-bottom: 10px;
    color: white;
  }
  
  #search-input {
    margin-bottom: 10px;
    width: 500px;
    height: 40px;
    font-size: 15px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

  }
  
  #search-button{
    margin-bottom: 10px;
    width: 120px;
    height: 42px;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#555555;
    background-color: #BEBEBE;
  }

  #close-search-btn {
    margin-bottom: 10px;
    width: 120px;
    height: 42px;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#555555;
    background-color:#BEBEBE ;
  }
  
  
#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
  
  .movie-card {
    border: 1px solid #171717;
    padding: 5px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
  }
  
  
  .movie-title {
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-poster {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
  }
  
  .movie-votes {
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    color: #888;
  }

  #load-more {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:#555555;
    background-color:#BEBEBE ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
