header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 8px;
  }

  h1 {
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    background-color: #1E3F66;
    color: white;
  }
  
  header div {
    margin-bottom: 10px;
    color: white;
  }
  
  #search-input {
    margin-bottom: 10px;
    width: 400px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  #search-button{
    margin-bottom: 10px;
    width: 120px;
    height: 32px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #90EE90;
  }

  #close-search-btn {
    margin-bottom: 10px;
    width: 120px;
    height: 32px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E2062C;
  }
  
  
#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
  
  .movie-card {
    border: 1px solid #1e3f66;
    padding: 5px;
    text-align: center;
  }
  
  .movie-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .movie-poster {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
  }
  
  .movie-votes {
    font-size: 14px;
    color: #888;
  }

  #load-more {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
